.input-design-container {
  max-width: none;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #ffffff;
}

.input-field {
  width: 251px;
  height: 53px;
  flex-shrink: 0;
  border-radius: 48.538px;
  background-color: #d9d9d9;
}

@media (max-width: 991px) {
  .input-design-container {
    max-width: 991px;
  }

  .input-field {
    width: 200px;
    height: 42px;
    border-radius: 38px;
  }
}

@media (max-width: 640px) {
  .input-design-container {
    max-width: 640px;
  }

  .input-field {
    width: 150px;
    height: 32px;
    border-radius: 28px;
  }
}
