@import "tailwindcss";

body{
  font-family:'Inter',sans-serif;
} 

:root {
  
  --color-black: #000000;
  --color-teal-900: #2a4b47;
  --color-teal-800: #1d7a66;
  --breakpoint-tablet: 40rem;
  --breakpoint-laptop: 64rem;
  --breakpoint-desktop: 80rem;
}

@media (min-width: 601px) and (max-width: 900px) {
  .card{
    flex: 1 1 calc(50% - 16px)
  }
}


  
@font-face{
  font-family: 'Inter', sans-serif;
  src: url('/fonts/Inter-Regular.ttf') format('truetype');
}