@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: #ffffff;
  --foreground: var(#1f1f1f);

  --card: #ffffff;
  --popover: #ffffff;

  --primary: #1d7a66;
  --secondary: #2a4b47;

  --muted: #f5f5f5;
  --muted-foreground: #555555;

  --accent: var(--secondary);

  --destructive: #dc2626;

  --chart-1: var(--color-teal-800);
  --chart-2: var(--color-teal-900);
  --chart-3: #4b5563;
  --chart-4: #79a85e;
  --chart-5: #f59e0b;

  --radius: 1rem;

  --button-hover: #354f52;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --rounded-sm: calc(var(--radius) - 4px);
  --rounded-md: calc(var(--radius) - 2px);
  --rounded-lg: var(--radius);
  --rounded-xl: calc(var(--radius) + 4px);

  --button-hover: #354f52;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply min-h-screen bg-background text-foreground flex items-center justify-center;
  }
}

@import "../styles/new-contribution.css";
