/*IMPORTANTE: MUDAR PARA TAILWIND*/

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page-container {
  max-width: 900px;
  padding: 20px;
  justify-content: center;
  transition: margin-left 0.3s ease;
}

.page-container.shifted {
  margin-left: 270px; /* mesmo tamanho do aside */
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: rgb(242, 238, 238);
}

/* Aba de cadastrar doações */
.card-area {
  background: #f5f5f5;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: margin-left 0.3s ease;
  margin: 0;
}

.card-area h2 {
  font-size: 25px;
  justify-self: center;
  font-weight: 600;
  margin-bottom: 20px;
}

.donation-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.donation-details div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.donation-details label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="file"]::file-selector-button {
  background: #207960;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
  color: #49c749;
}

.donation-details button {
  grid-column: 1 / -1; /* isso faz o botão ficar no meio das duas colunas 1fr1r */
  margin: auto;
  padding: 12px;
  background: #1d7a66;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: background 0.2s ease-in;
}

#calendar button:hover {
  background-color: #ccc;
  color: #000;
}

button:hover {
  color: #66d3bb;
}

/* Menu lateral */

.open-menu {
  background: none;
  border: none;
  font-size: 1.2rem;
  font-weight: 800;
  cursor: pointer;
  color: #207960;
  position: fixed;
  left: 1.2rem;
  top: 1.2rem;
}

.hidden {
  display: none;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -270px; /* começa escondido fora da tela */
  width: 270px;
  height: 100vh;
  background: #f5f5f5;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: rgb(0, 0, 0);
  padding: 1rem;
  transition: left 0.3s ease;
  z-index: 1000;
}

.side-menu.open {
  left: 0;
}

/* botão de fechar */
.close-menu {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

/* botoes do side menu e do nav mobile */
.donation-menu-button {
  margin: 5px;
  padding: 8px;
  width: 95%;
  color: #000;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  flex: 1;
}

.donation-menu-button:hover {
  color: #1d7a66;
  border: 1px solid #1d7a66;
}

/* menu do mobile, fica escondido se for desktop */

.mobile-nav {
  display: none;
}

/* Responsividade: no desktop vira 2 colunas(inputs lado a lado) e em celular fica 1 (abaixo)*/

@media (min-width: 200px) and (max-width: 490px) {
  .donation-details {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 491px) {
  .donation-details {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 670px) {
  .side-menu,
  .open-menu {
    display: none;
  } /*Aquie sconde o menu lateral */
  .page-container {
    padding-bottom: 110px;
    padding-top: 0;
  }
  .mobile-nav {
    display: block;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 7px;
    width: 100%;
    background: #f5f5f5;
    color: white;
    box-shadow: 0 -2px 8px rgba(24, 23, 23, 0.2);
    z-index: 1000;
    margin: auto;
    flex-grow: 1;
    justify-content: space-around;
  }
  .donation-menu-button {
    flex-grow: 1;
    height: full;
  }
}
