* {
  box-sizing: border-box;
}

body {
  font-family: "Oranienbaum", serif;
  margin: 0;
  padding: 0;
  background: #f8f9fa;
}

.page-container {
  background-color: #2a4b47;
  min-height: calc(100vh);
  margin: auto;
  padding: 20px;
  justify-content: center;
  transition: margin-left 0.3s ease; 
  margin-left: 0;
}

.page-container.shifted 
{
  margin-left: 250px; /* mesmo tamanho do aside */
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: rgb(242, 238, 238);
  margin-bottom: 20px;
  transition: margin-left 0.3s ease; 

}

.page-title {
  font-size: 2rem;
  justify-self: center;
}

/*Aba de cadastrar doações */
.card-area {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: margin-left 0.3s ease; 
  margin-left: 0;
}

.card-area h2 {
  font-size: 30px;
  justify-self: center;
  font-weight: 600;
}
.donation-details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;

}

.donation-details div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.donation-details label {
  margin-bottom: 5px;
  font-weight: bold;
}

.donation-details input {
  padding: 10px;
  margin: 0;
  margin-right: 10px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  border-radius: 6px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

input[type="date"] {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
}

input[type="file"]::file-selector-button {
  background: #207960;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 6px;
  margin-right: 10px; 
  cursor: pointer;
}


.donation-details button {
  grid-column: 1 / -1; /* isso faz o botão ficar no meio das duas colunas 1fr1r*/
  margin: auto;
  padding: 12px;
  background: #1d7a66;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: background 0.2s ease-in;
}

button:hover {
  background: #354f52;
}

/*Menu lateral */

.open-menu {
  margin-top: 20px;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: white;
  position: absolute;
  left: 1rem
}
.hidden{
  display: none;
}

.side-menu {
  position: fixed;
  top: 0;
  left: -250px; /* começa escondido fora da tela */
  width: 250px;
  height: 100vh;
  background: #f5f5f5;
  color: rgb(0, 0, 0);
  padding: 1rem;
  transition: left 0.3s ease;
  z-index: 1000; 
}

.side-menu.open {
  left: 0;
}

/* botão de fechar */
.close-menu {
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

/* botoes do side menu e do nav mobile */
.new-donation, .old-donations {
    margin: 2px;
    padding: 10px;
    background: #1d7a66;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    flex: 1;
  }

/*menu do mobile, fica escondido se for desktop */

.mobile-nav {
  display: none;
}

/* Responsividade: no desktop vira 2 colunas(inputs lado a lado) e em celular fica 1 (abaixo)*/

@media (min-width: 200px) and (max-width: 490px) {
  .donation-details {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 491px) {
  .donation-details {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 670px) {
  .side-menu,
  .open-menu{ display: none;} /*Aquie sconde o menu lateral */
  .page-container {padding-bottom: 60px}
  .mobile-nav {
    display: block;
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 7px;
    width: 100%;
    background: #f5f5f5;
    color: white;
    box-shadow: 0 -2px 8px rgba(24, 23, 23, 0.2);
    z-index: 1000;
    }
}
